* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body {
  background: #2e132c;
  display: flex;

  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
.logo {
  width: 30%;
}

.login {
  width: 40%;
}
.flex-row-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-row-around {
  display: flex;
  justify-content: space-around;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.font-title {
  font-family: Fira Code;
  font-style: bold;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;

  color: #ffffff;
}

.font-text {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 450;
  font-size: 24px;
  line-height: 31px;

  color: #ffffff;
}

.font-button-google {
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  height: 40px;
  width: 200px;
  text-align: center;
  background-color: #4285f4;
  color: #ffffff;
  margin: 2rem;
}
.log-google {
  width: 1.5rem;
  height: 1.5rem;
}
.text-red {
  color: #f50d5a;
}

.config-color {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid 2e132c;
}
.font-input {
  font-family: Roboto;
  font-size: 1rem;
  height: 40px;
  width: 90%;
  text-align: left;
  padding-left: 1rem;
  margin: 2rem;
  background-color: #150714;
  color: #914d8b;
  border: 0;
}
.font-button-config {
  font-family: Roboto;
  font-size: 1rem;

  height: 40px;
  width: 90%;
  text-align: center;
  background-color: #00da76;
  margin: 2rem;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;

  display: flex;

  justify-content: center;
}

/*  CREAR **/
.bg-editor {
  background: #150714;
}
.div-tweet {
  display: flex;
  flex-direction: row;
  width: 700px;
  align-content: space-around;
  padding: 0.5rem 1rem;
}
.div-avatar {
  display: flex;
  justify-content: center;
  flex: 1;
}
.div-editor {
  flex: 3;
}
.avatar-48 {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}
.avatar-24 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  width: 50px;
}
.avatar-96 {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}
.text-form {
  width: 100%;
  margin-bottom: 1rem;
}

.text-msg {
  width: 100%;
  margin-bottom: 1rem;
  color: white;
}
.btn-submit {
  background-color: #00da76;
  color: white;
  width: 20%;
}

/*  FIN CREAR */
.link-logout {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;

  display: flex;

  justify-content: center;
}

.div-logout {
  height: 30px;
  width: 30%;
  text-align: center;
  background-color: #f50d5a;
  margin: 1rem;
}
.hearder-display {
  display: flex;
  justify-content: space-between;
}
.rojo {
  background: #f50d5a;
  color: black;
}
.naranja {
  background: #ff865c;
  color: black;
}
.amarillo {
  background: #ffea5c;
  color: black;
}
.azul {
  background: #0096ce;
  color: black;
}
.verde {
  background: #00da76;
  color: black;
}
.purpura {
  background: #800fff;
  color: black;
}
.div-like {
  color: white;
  display: flex;
}

.conter-like {
  padding-left: 1rem;
}
